.second_head {
  background-color: rgb(128, 255, 255);
  background-image: url("Images/smoke.jpg");
  opacity: 0.90;
  background-blend-mode: hard-light;
  background-size: cover;
  text-align: center;
}

img {
  opacity: 1.0;
}

.container {
   margin:0 auto; /* this will center the page */
   width:960px; /*  use your width here */
}

.container1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {text-align: center;}